.user-container::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateX(100%);
    border-width: 0 .5em .5em .5em;
    border-color: transparent transparent #1b1b1b  transparent;
    border-style: solid;
}