@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url('./assets/fonts/Vazir-FD-WOL.eot');
  src: url('./assets/fonts/?#iefix') format('embedded-opentype'),
       url('./assets/fonts/Vazir-FD-WOL.woff') format('woff'),
       url('./assets/fonts/Vazir-FD-WOL.woff2') format('woff2')
       url('./assets/fonts/Vazir-FD-WOL.ttf') format('truetype');
  font-weight: normal;
}

body {
    font-family: "Vazir";
}

/* Products component */
.wrapper-title {
    position: relative;
}

.wrapper-title::after {
    content: " ";
    position: absolute;
    display: table;
    height: 2px;
    background-color: #ccc;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}