@media screen and (min-width: 64rem) {
    .tabs::after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: -4px;
        height: 4px;
        background-color: oklch(76.9% 0.188 70.08);
        transform: scaleX(0);
        transition: all .3s ease-in-out;
        transform-origin: right;
    }

    .tabs:hover::after {
        transform: scaleX(1);
        
    }

    .selected.tabs:hover::after {
        transform: scaleX(0);
    }
}