@media screen and (min-width: 64rem) {
    .tabs::after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: oklch(76.9% 0.188 70.08);
        height: 2px;
        border-radius: 2px;
        scale: 0;
        transition: all .3s ease-in-out;
        transform-origin: right;
    }

    .tabs:hover::after {
        scale: 1;
    }
}